<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Sriram Sankar",
  "url": "{{ site.url }}",
  "image": "{{ '/images/telescopes/sriram_mkt_2022.jpg' | absolute_url }}",
  "jobTitle": "PhD candidate in astrophysics",
  "description": "HI astrophysicist bridging hydrodynamic simulations and MeerKAT observations to study how galaxies acquire gas, building toward SKA-Mid.",
  "affiliation": {
    "@type": "Organization",
    "name": "International Centre for Radio Astronomy Research (ICRAR), The University of Western Australia",
    "url": "https://www.icrar.org"
  },
  "alumniOf": [
    {"@type": "CollegeOrUniversity", "name": "University of Cape Town"},
    {"@type": "CollegeOrUniversity", "name": "Mahatma Gandhi University"}
  ],
  "knowsAbout": ["Neutral hydrogen (HI) 21 cm emission", "Radio interferometry", "MeerKAT", "Square Kilometre Array", "Hydrodynamic simulations", "Gas accretion", "Galaxy evolution"],
  "sameAs": [
    "https://orcid.org/0000-0002-7607-081X",
    "https://github.com/spectram",
    "https://www.linkedin.com/in/sankarsriram",
    "https://ui.adsabs.harvard.edu/public-libraries/ub0UtPl-ROqyeY19srr0gg"
  ]
}
</script>
