<div class="post-feed, page-feed">
    <section class="archive-feed">
        <div>
            <h2>Related content</h2>
        </div>
        <div class="article-feed">
            <div>
                {{ $related := (where (.Site.RegularPages.Related .) "section" "/thoughts") | first 2 }}
                {{ range $related }}
                <div>
                    {{ $permalink := .Permalink }}
                    {{ $image := .Params.thumb_img_path }}
                    {{ $image_alt := .Params.thumb_img_alt }}
                    <a class="post-thumbnail" href="{{ $permalink }}">
                        <img class="thumbnail, image-feed" src="{{ $image | relURL }}" alt="{{ $image_alt }}" />
                    </a>
                    <header class="post-header">
                        <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Params.title }}</a></h2>
                        <div class="post-meta">
                            Published on <time class="published"
                            datetime="{{ .Date | dateFormat "2006-01-02 15:04" }}">{{ .Date | dateFormat "January 02, 2006" }}</time>
                        </div>
                    </header>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
</div>